.TopBar {
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
    height: 10vh;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    text-transform: uppercase;
}
