.App {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.Content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.BurgerContainer {
    width: 100%;
}

.HotDogContainer {
    text-align: center;
    font-size: 40px;
    font-weight: 100;
}
